[Unit]
Description=GlusterFS, a clustered file-system server
Requires=rpcbind.service
After=network.target rpcbind.service
Before=network-online.target

[Service]
Type=forking
PIDFile=/var/run/glusterd.pid
LimitNOFILE=65536
Environment="LOG_LEVEL=INFO"
Environment="LOG_FILE=/var/log/glusterfs/glusterd.log"
EnvironmentFile=-/etc/glusterfs/glusterd
ExecStart=/usr/sbin/glusterd -p /var/run/glusterd.pid --log-file=$LOG_FILE --log-level $LOG_LEVEL $GLUSTERD_OPTIONS
ExecStopPost=/usr/bin/killall -9 /usr/sbin/glusterfsd /usr/sbin/glusterfs
KillMode=process

[Install]
WantedBy=multi-user.target
